.user-con {
    width: 800px;
    height: 560px;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

.user-navbar {
    float: left;
    width: 200px;
    border: 1px solid #000;
}

.user-navbar li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #000;
}

.user {
    border: 1px solid #000;
    margin-left: 220px;
    padding: 30px;
}

.user input,
.user select {
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
}

.user .photo {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    margin: 0 auto;
}